*{
    margin:0;
    padding: 0;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
background: url("https://wallpaperaccess.com/full/1372726.jpg");
background-size: cover;
background-position: center;
}

button{
cursor: pointer;
font-family: sans-serif;
}


#con{
    height:600px;
    width:400px;
    padding:10px;
    background:white;
    border: 10px solid rgba(100 , 0 , 150 , 0.7);
    border-radius: 15px;
}

.row1{
    height:14%;
  
}

.row{
    display:flex;
    justify-content: center;
    align-items: center;

}

.row button{
margin:0 20px 0 20px;
width:20%;
height:65%;
outline: none;
border:none;
display:flex;
justify-content: center;
align-items: center;
font-size: 20px;
border-radius: 100%;

}

.row2{
    height:14%;
    
}

.row3{
    height:14%;
    
}


.row4{
    height:14%;
    
}
#main-ans{
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:100px;
    height:30%;
    background: rgba(100 , 0 , 200 , 0.2);
    border-radius: 15px;
}

#main-ans h2{
color:rgba(100 , 100 , 300 , 0.9);
font-size: 50px;
transition: 1000ms;
font-family: Arial, Helvetica, sans-serif;
}

#roww{
display: flex;

    height:14%;
  
}

#dkdkd{
 font-weight: 100;
 color:teal;
    transition: 1000ms;
    top:5%;
    position: absolute;
    right:10%;
font-size: 30px;
}

#roww button{

    font-size: 25px;
    width:100%;
    width:50%;
    margin:10px;
    border-radius: 10px;
    outline: none;
    border: none;
    
    
}

#i{
    background: red;
    color:white;
}

#f{
    background: tomato;
    color:white;
}

.sign{
    background: rgb(72, 67, 73);
    color:white;
}

.signn{
    background: lightgreen;
    color:black;
 
}

.normal{
    color:white;
background: rgba(100 , 100 , 200 , 0.8);
}
